body {
    margin: 0;
}

/*img becomes no larger than actual size.*/
img {
    max-width: 100%;
    height: auto;
    display: block;
}

#app {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

/*MAIN SEMANTIC ELEMENTS ARE BELOW*/
header {
    width: 90%;
    margin: 0;
    padding: 0.5em 5%;
    background: #364020;
    background: #F2CB05;
    background: #01401C; /*Curset green*/
    flex: initial; /*flex: 0 1 auto*/
}

nav {
    width: 90%;
    margin: 0;
    padding: 0.25em 5%;
    background: #F2E9CE; /*lighter tan*/
    background: #F2E2C4; /*darker tan*/
    background: #F2CB05; /*Curset yellow*/
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

@media all and (min-width: 300px) {
    section {
        border-right: none;
        border-left: none;
    }
}

@media all and (min-width: 600px) {
    section {
        border-right: 1px solid #eee; /*grey 200*/
        border-left: 1px solid #eee; /*grey 200*/
    }
}

figure {
    width: 30%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

figcaption {
    width: 90%;
    margin: 0.5em 0;
    padding: 0 5%;
}

footer {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    background: #000;
    flex: initial; /*flex: 0 1 auto*/
}

/*BUTTON ELEMENTS ARE BELOW*/
/*button for nav: BK, BX, MN, QN, SI*/
button.nav {
    /*background: #4b5e26; NPS button green*/
    background: none;
    border: none;
    border-radius: 6px;
    flex: initial; /*flex: 0 1 auto*/
    cursor: pointer;
}

button.nav a {
    /*color: #fff;*/
    color: #000;
    text-decoration: none;
}

button.nav a.router-link-exact-active {
    color: #f2e750; /*yellow*/
    color: #91CDF2; /*light blue*/
    color: #000;
    text-decoration: underline;
}

@media all and (min-width: 300px) {
    button.nav {
        width: 42px;
        /*height:  42px;*/
    }
}

@media all and (min-width: 400px) {
    button.nav {
        width: 48px;
        /*height:  48px;*/
    }
}

@media all and (min-width: 500px) {
    button.nav {
        width: 54px;
        /*height:  54px;*/
    }
}

@media all and (min-width: 600px) {
    button.nav {
        width: 120px;
        /*height:  60px;*/
    }
}

/*button for "fees and schedules" and "message sent!"*/
button.regular {
  width: 140px;
    margin: 0.25em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    background: transparent;
    border: none;
    border-radius: 6px;
    flex: initial; /*flex: 0 1 auto*/
}

button.regular:hover {
    cursor: pointer;
}

/*button for "notes"*/
button.notes {
    margin-bottom: 1.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    background: none;
    border: 1px solid #eee; /*grey 200*/
    border-radius: 6px;
    flex: initial; /*flex: 0 1 auto*/
}

button.notes:hover {
    cursor: pointer;
}

/*FORM AND RELATED ELEMENTS ARE BELOW*/
form {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    border: 1px solid #eee; /*grey 200*/
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

.entry {
    width: 100%;
    margin: 1em 0;
    padding: 0;
    border: none;
}

label {
    width: 100%;
    margin: 0.5em 0;
    padding: 0;
    display: inline-flex;
}

.error-msg {
    width: 100%;
    margin: 1em 0;
    padding: 0;
}

input[type="text"], input[type="email"] {
    width: 100%;
    margin: 0.5em 0;
    padding: 0;
}

@media all and (min-width: 300px) {
    input[type="radio"] {
        width: 8%;
        margin: 0.5em 0;
        padding: 0;
    }

    /*label immediately following "radio" input*/
    input[type="radio"] + label {
        width: 92%;
        margin: 0;
        padding: 0;
        display: inline-flex;
    }
}

@media all and (min-width: 400px) {
    input[type="radio"] {
        width: 5%;
        margin: 0.5em 0;
        padding: 0;
    }

    /*label immediately following "radio" input*/
    input[type="radio"] + label {
        width: 95%;
        margin: 0;
        padding: 0;
        display: inline-flex;
    }
}

select {
    width: 70%;
    margin: 0.5em 30% 0.5em 0;
    padding: 0;
}

textarea {
    width: 100%;
    margin: 0.5em 0;
    padding: 0;
}

#flash-msg-form {
    margin: 0 1em;
    padding: 0;
    display: none;
}

/*VARIOUS "CLASS" ELEMENTS ARE BELOW*/
.page-title {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    background: #F2E9CE; /*lighter tan*/
    background: #F2E2C4; /*darker tan*/
    background: #F2D4C2; /*Curset pinkish*/
    border-top: 2px solid #012611;
    border-bottom: 2px solid #012611;
    flex: initial; /*flex: 0 1 auto*/
}

.page-intro {
    width: 90%;
    margin: 0;
    padding: 0.5em 5%;
    background: #F2D4C2; /*Curset pinkish*/
    border-top: 2px solid #012611;
    border-bottom: 2px solid #012611;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; /*main axis*/
    align-items: center; /*cross axis*/
}

.intro-text {
    width: 70%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

.page-nav {
    width: 100%;
    height: 26vh;
    margin: 0.5em 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

/*This is placeholder style*/
.sample {
  width: 100%;
}

.fees-sched {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    background: #f2f2f2; /*grey*/
    flex: initial; /*flex: 0 1 auto*/
}

.pool {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    border-bottom: 1px solid #eee; /*grey 200*/
    flex: initial; /*flex: 0 1 auto*/
}

.pool:last-child {
    border: none;
}

/*TRANSITIONS ARE BELOW*/
/*Content fades in and slides left*/
/*Used on PageTitle*/
.fade-in-slide-left-enter-from {
    opacity: 0;
    transform: translateX(10px);
}

.fade-in-slide-left-enter-enter-to {
    opacity: 1;
    transform: translateX(0);
}

.fade-in-slide-left-enter-active {
    transition: all 1s ease-out;
}

/*Content slides down and fades in, later fades out*/
/*Used on FeesSchedule and PoolCard*/
.slide-down-fade-in-out-enter-from {
    opacity: 0;
    transform: translateY(-10px);
}

.slide-down-fade-in-out-leave-to {
    opacity: 0;
    transform: translateY(0);
}

.slide-down-fade-in-out-enter-active,
.slide-down-fade-in-out-leave-active {
    transition: all 1s ease-out;
}

/*ANIMATIONS ARE BELOW*/
/*flashes form's "message sent!" text*/
@keyframes flashMessage {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.flash-msg {
  animation: flashMessage 4s ease-in-out 100ms 1 normal both;
}

/*Shorthand Notes: [animation-name] [animation-duration] [animation-timing-function]
[animation-delay] [animation-iteration-count] [animation-direction]
animation-fill-mode*/

/*FONTS STYLES ARE BELOW*/
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

h1 a {
    color: #fff;
    text-decoration: none;
}

h1 a:hover {
    color: #fff;
    text-decoration: none;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.1;
    font-weight: 700;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 600;
}

button.nav {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 2.0;
    font-weight: 600;
}

button.regular {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
}

button.notes {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #0e4996; /*dark blue*/
    margin-bottom: 0;
}

figcaption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #616161; /*grey 700*/
}

p, label, input, textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
}

li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    position: relative;
}

p a, li a {
    color: #0e4996; /*dark blue*/
    text-decoration: none;
}

p a:hover, li a:hover {
    color: #0e4996; /*dark blue*/
    text-decoration: underline;
    cursor: pointer;
}

p.link-like {
    color: #0e4996; /*dark blue*/
}

p.link-like:hover {
    color: #0e4996; /*dark blue*/
    text-decoration: underline;
    cursor: pointer;
}

.fees-sched p {
    line-height: 1.5;
    margin-top: 0;
}

.pool p {
    line-height: 1.5;
}

footer p {
  color: #fff;
}

/*positions handicapped icon at end of pool dimensions line.*/
span.accessible {
    position: absolute;
    bottom: 0;
    right: auto;
}

span.flash {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

/*FONTS MEDIA QUERIES ARE BELOW*/
@media all and (min-width: 300px) {
    h1 {
        /*font-size: 1.2em; 19.2px*/
        font-size: 1em;
    }

    h2 {
        font-size: 1em; /*16px*/
    }

    h3 {
        font-size: .9375em; /*15px*/
    }

    button.nav {
        font-size: .8125em; /*13px*/
    }

    button.regular, button.notes {
        font-size: .75em; /*12px*/
    }

    figcaption {
        font-size: .75em; /*12px*/
    }

    p, label, input, textarea {
        font-size: .875em; /*14px*/
    }

    li {
        font-size: .8125em; /*13px*/
    }

    span.flash {
        font-size: .75em; /*12px*/
    }
}

@media all and (min-width: 400px) {
    h2 {
        font-size: 1.2em; /*19.2px*/
    }

    h3 {
        font-size: 1em; /*16px*/
    }

    button.nav {
        font-size: .875em; /*14px*/
    }

    button.regular, button.notes {
        font-size: .8125em; /*13px*/
    }

    figcaption {
        font-size: .8125em; /*13px*/
    }

    p, label, input, textarea {
        font-size: .9375em; /*15px*/
    }

    li {
        font-size: .875em; /*14px*/
    }

    span.flash {
        font-size: .8125em; /*13px*/
    }
}

@media all and (min-width: 500px) {
    h2 {
        font-size: 1.4em; /*22.4px*/
    }

    h3 {
        font-size: 1.1em; /*17.6px*/
    }

    button.nav {
        font-size: .875em; /*14px*/
    }

    button.regular, button.notes {
        font-size: .875em; /*14px*/
    }

    figcaption {
        font-size: .875em; /*14px*/
    }

    p, label, input, textarea {
        font-size: 1em; /*16px*/
    }

    li {
        font-size: .875em; /*14px*/
    }

    span.flash {
        font-size: .875em; /*14px*/
    }
}

@media all and (min-width: 600px) {
    h2 {
        font-size: 1.6em; /*25.6px*/
    }

    h3 {
        font-size: 1.2em; /*19.2px*/
    }

    button.nav {
        font-size: 1em; /*16px*/
    }

    button.regular, button.notes {
        font-size: .9375em; /*15px*/
    }

    figcaption {
        font-size: .9375em; /*15px*/
    }

    p, label, input, textarea {
        font-size: 1.1em; /*17.6px*/
    }

    li {
        font-size: 1em; /*16px*/
    }

    span.flash {
        font-size: .9375em; /*15px*/
    }
}

/*VARIOUS "CLASSES" FOR FONTS ARE BELOW*/
/*makes font red*/
.warn {
    color: #d90416; /*dark red*/
}

/*makes font green*/
.compliment {
    color: #277332; /*dark green*/
}

/*Note: Setting font styles for "select" or "option" in the form's pull-down
menu seems to make no difference. Adding "optgroup" has no effect either.*/